html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
#topBar {
    flex: 0 0 auto;
}
#bottomAreaContainer {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
}
#sideBar {
    flex: 0 0 auto;
    overflow: auto;
}
#layerCheckboxForm {
    white-space: nowrap;
}
#scrollView
{
    flex: 1 1 auto;
    width: 100%;
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
    background-color: black;
}

#svgElementId
{
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
}
#svgElementId
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}